#brett {
    width: 500px;
    height: 500px;
    border: solid rgb(60, 255, 0) 5px;
    position: absolute;
    left: 150px;
    top: 150px;
}

#fuggel {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 20px;
    background-image: url(fuggel.png);
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    animation: fly 3s infinite linear;
}

@keyframes fly {
    0% { left: 10px; top: 10px}
    25% { left: 400px; top: 10px}
    50% { left: 400px; top: 400px}
    75% { left: 10px; top: 400px}
    100% {left: 10px; top: 10px;}
}