#main {
    position: relative;
    width: 800px;
    height: 800px;
    border: solid blue 1px;
}

#tools,#canvas,#farger {
    position: absolute;
    background-color: whitesmoke;
    border: solid red 1px;
}

#tools {
    left: 0;
    top: 0;
    height: 780px;
    width: 180px;
}

#canvas {
    left: 200px;
    top: 0;
    height: 600px;
    width: 600px;
}

#farger {
    left: 200px;
    bottom: 20px;
    height: 150px;
    width: 600px;
}

#tools > div {
    text-align: center;
    margin: 50px;
}

#tools > div:nth-child(2) {
    width: 70px;
    height: 70px;
    border: solid 2px brown;
}

#tools > div:nth-child(3) {
    width: 70px;
    height: 70px;
    border: solid 2px red;
    border-radius: 50%;
}

#tools > div:nth-child(4) {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;

    border-bottom: 40px solid lightgreen;
}

#tools > div:nth-child(5) {
    width: 70px;
    height: 0;
    border-bottom: solid 2px blue;
    transform: rotate(-20deg);
}

#tools > div:nth-child(6) {
    border: solid 1px black;
    height: 35px;
    background: linear-gradient(to right, red 50%, blue 50%);
    transform: rotate(-40deg);
}